/* high contrast from theme-components-bundle */

.wcag-square,
.wcag-size {
  transform: scale(.4);
}

.wcag-size:visited {
  color: #000;
}

.high-contrast {
  * {
    color: #fff;
  }

  a,
  a:visited {
    color: #fff !important;
    text-decoration: underline;
  }

  .hc-invert,
  .hc-invert-pictures img,
  .hc-invert-pictures svg {
    filter: invert(1);
  }

  .hc-greyscale,
  .hc-greyscale-pictures img,
  .hc-greyscale-pictures svg {
    filter: grayscale(1);
  }

  .hc-bg-black {
    background: black !important;
    color: white !important;
  }

  .wcag-square,
  .wcag-size,
  .wcag-size:visited {
    color: #fff;
    fill: #fff;
  }
}
