/* Headline */

.first-headline.block, .subheadline {
  font-size: .7em;
  font-weight: 300;
  display: block;
}

.first-headline:not(.block) {
  font-weight: 300;

  + .main-headline {
    font-weight: 700;
  }
}
